* {
    margin :0;
    box-sizing: border-box;
}

/* Colors used */

:root {
    --teal-050: #effcf6;
    --teal-100: #c6f7e2;
    --teal-200: #8eedc7;
    --teal-300: #65d6ad;
    --teal-400: #3ebd93;
    --teal-500: #27ab83;
    --teal-600: #199473;
    --teal-700: #147d64;
    --teal-800: #0c6b58;
    --teal-900: #014d40;

    --blue-grey-050: #f0f4f8;
    --blue-grey-100: #d9e2ec;
    --blue-grey-200: #bcccdc;
    --blue-grey-300: #9fb3c8;
    --blue-grey-400: #829ab1;
    --blue-grey-500: #627d98;
    --blue-grey-600: #486581;
    --blue-grey-700: #334e68;
    --blue-grey-800: #243b53;
    --blue-grey-900: #102a43;
}

html {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 140%;
    line-height: 1.4;
    font-weight: 400;
    color: var(--blue-grey-900);
}

body {
    min-height: 100vh;
    background: var(--blue-grey-100);
}

/* Input Selector */

main { 
    margin: 100px
}

.select-date {
    max-width: 13em;
    display: flex;
    flex-direction: column;
}

.select-date input {
    padding: 10px;
    font-size: 1em;
    background-color: var(--blue-grey-050);
    border: 1px solid var(--blue-grey-300);
    border-radius: 7px;
    text-transform: uppercase;
    cursor: text;
}



.calendar {
    /* max-width: 60%; */
    margin: 3em auto 0 auto;
    padding: 1.5em;
    background-color: #fff;
    border: 2px solid var(--blue-grey-200);
    border-radius: 8px;
}


/* For the month */
.month-indicator {
    color: var(--blue-grey-700);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prev-btn, .next-btn {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
}

/* The grid */
.day-of-week,
.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

/* Positioning the first day on a Friday */
.date-grid button:first-child {
  grid-column: 4;
}


/* Styles for the weekday/weekend header */
.day-of-week {
    margin-top: 0.5em;
    text-align: center;
}

.day-of-week > * {
    font-size: 0.7em;
    color: var(--blue-grey-400);
    font-weight: 500;
    letter-spacing: 0.1em;
    font-variant: small-caps;
}

/* Dates */
.date-grid {
    margin-top: 0.1em;
}

/* Positioning the first day */
.date-grid button:first-child {
    grid-column: 6;
}

/* Style for each day */

.date-grid button {
    position: relative;
    font-size: 1em;
    border: 0;
    border-radius: 50%;
    padding: 0.5em;
    background-color: transparent;
    color: var(--blue-grey-600);
    cursor: pointer;
}

.date-grid .today {
    background-color: var(--blue-grey-100);
}

.date-grid button:hover,
.date-grid button:focus {
    outline: none;
    background-color: var(--blue-grey-050);
    color: var(--blue-grey-700);
}

.date-grid button:active,
.date-grid button.is-selected {
    background-color: var(--teal-100);
    color: var(--teal-900);
}